**/bin/
**/obj/
**/build/
**/.gradle/
**/local.properties
**/node_modules/
**/.netlify/
dist/
release-assets/
*.pdb
*.jks
*.keystore
*.pfx
*.pem
.env*
/site/
/video/
/private-production/
*.mp4
*.wav
*.vtt
